ion-header {
  ion-toolbar {
    ion-icon {
      color: black;
    }
  }
}

ion-card {
  margin: 0;
  margin-bottom: 16px;
  ion-card-header {
    background: var(--ion-color-primary);
    border-bottom: 1px solid var(--border-line-color);
    padding-top: 6px;
    padding-bottom: 6px;
    h2 {
      color: white;
    }
    ion-icon {
      color: white;
    }
  }
  ion-card-content {
    padding-top: 0;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    margin-top: 10px;
    h2,
    ion-icon {
      color: black;
    }
    ion-list {
      ion-item {
        margin-top: 10px;
        ion-label {
          color: black;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
