ion-header {
  ion-toolbar {
    position: relative;
    background: transparent; /* Make toolbar transparent to show image */
    --background: transparent; /* Ensure background is transparent */
  }

  height: 300px; /* Extend the header height */
  .header-image {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: -1; /* Push it behind the toolbar */
    .controls {
      background: rgba(255, 255, 255, 0.2);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensures it covers the area properly */
    }
  }
}

ion-content {
  background: white;
}

.chip-container {
  display: flex;
  align-items: center;
  gap: 6px;
  z-index: 2222;
  left: 0;
}

ion-chip {
  &.event-status {
    background: var(--ion-color-primary);
    color: white;
    &.warning {
      background: var(--ion-color-warning);
      color: white;
    }
    &.danger {
      background: var(--ion-color-danger);
      color: white;
    }
  }
  background: rgba(255, 255, 255, 0.8);
  color: black;
  ion-icon {
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
    //   color: black;
  }
}

.custom-btn {
  position: absolute;
  top: unset;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  &.back-btn {
    left: 0px;
    ion-back-button {
      margin-right: 0;
      color: white; /* Icon color */
      --ionicon-stroke-width: 2.5px; /* Thicker icon */
      --icon-font-size: 24px;
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
    }
  }
  &.menu-btn {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    right: 0;
    ion-button {
      --color: white;
      --ionicon-stroke-width: 2.5px; /* Thicker icon */
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
      ion-icon {
        font-size: 24px;
      }
    }
  }
}

.participant-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .participants {
    display: flex;
    align-items: center;
    max-width: 130px;
    .avatar {
      &.moreText {
        background:#F1C40E;
        color: white;
      }
      &:first-child {
        left: 0;
      }
      &:nth-child(2) {
        left: -10px;
        z-index: 2;
      }
      &:nth-child(3) {
        left: -20px;
        z-index: 2;
      }
      &:nth-child(4) {
        left: -30px;
        z-index: 2;
      }
      &:nth-child(5) {
        left: -40px;
        z-index: 2;
      }
      &:nth-child(6) {
        left: -50px;
        z-index: 2;
      }

      min-width: 26px;
      width: 26px;
      height: 26px;
      display: inline-block;
      position: relative;
      margin: 0;
      color: var white;
      font-size: 11px;
      font-weight: 400;
      text-align: center;
      line-height: 27px;
    }
  }
  p {
    height: 26px;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 12px;
    color: var(--text-light);
    b {
      color: black;
    }
  }
}

.age-group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  .info {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.info {
  &:not(:first-child) {
    margin-top: 10px;
  }
  display: flex;
  align-items: center;
  gap: 6px;
  ion-icon {
    color: white;
    min-width: 18px;
    min-height: 24px;
  }
  p {
    margin: 0;
    color: white;
    font-size: 14px;
  }
}

.additionalInfo {
  p {
    color: black;
    margin: 0px;
    font-size: 14px;
  }
  h3 {
    color: black;
    font-weight: bold;
  }
}
