:host {
  height: 100%;
  display: block;
}

.notifications {
  ion-item {
    h2 {
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .action-btns {
    display: flex;
    flex-direction: column;
    .btns {
      display: flex;
      gap: 6px;
    }
  }
  .time-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .notification-container {
    display: flex;
    flex-direction: column;
  }
  .title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      flex-shrink: 0;
      color: var(--text-light);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .user-info {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }
}
